/*
 Folha de estilo principal do site html5 + css3
 @author Vitor Zelli
*/

/****************** Importando font ******************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* Principal */
body{
	font-family: 'Open Sans'; sans-serif;
	/*background-color: #8e8e8e; */
	background-image: url("../imagens/itachi.jpg");
	background-attachment: fixed; /* fixa o background */
	background-size: cover; /* manter o tamanho de forma responsiva */
	font-size: 1em; /*1 em = 16px */
}

#main{
	max-width: 1024px;
	/* background-color:#ffffff; */
	margin: 0 auto; /* centralizar a div */
	margin-top: 50px; /*box model*/
}

/************** Cabeçalho ***************/

header{
	width: 100%;
	/*  background-color: #ffff00;  dica para ajustar elementos */

}

header img{
	/* width: 200px;
	height: 200px;
	margin-left:400px; */

}


/**** menu ****/

img {
	max-width: 100%; /* todas as imagens do site ficam responsiva */
}
/*********** MENU RESPONSIVO ***********/
nav{
	width: 100%;
	max-width: 1024px;
	position: absolute;
	z-index: 3;
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	background-color: #ff0000;
	/*overflow: hidden;  completar a largura total com o background (formar o menu)*/
}

nav > ul > li{
	float: left;
	width: 25%; /* 4 elementos do menu primário */
}
nav > ul > li > a{
	font-size: 1.125em;
}
nav ul li a{
	background-color: #ff0000;
	text-decoration: none;
	color: #FFF0F5;
	padding: 15px;
	display: block;
	text-align:center;
}
nav ul li a{
	background-color: #ff0000;
	text-decoration: none;
	color: #FFF0F5;
	padding: 15px;
	display: block;
	text-align: center;
	}

nav ul li a:hover{
	background-color: #000000;
	transition: all 0.27s; /* efeito transição (0 a 1) */
}

nav li ul{
	display: none;
}

nav li:hover ul{
	display: block;
}

/* Desenhando um triângulo no css */

.Detalhes:after{ /* Atributo after (após o conteudo)*/
	content:''; /* Content: insere um conteudo no css */
	color: #FFFFFF;
	border: 5px solid transparent;
	/* border-left-color: #800000;
	border-right-color: #800000;
	border-bottom-color: #FF69B4; */
	border-top-color: #FFF0F5; 
	/* Alinhamento */
	display: inline-block;
	vertical-align: middle;
}

.Mobile{
	display: none;
}
/* Classe usada pelo JS para fixar o menu */
.Fixar{
	position: fixed;
	top: 0;
}

/**********  Conteúdo em destaque **********/

/**** banner ****/

#banner{
	margin-top: 50px;
	max-width: 1024px;
	height: 350px;
	/*** usado para flexibilizar o layout ***/
	display: flex;
	justify-content: center;
	align-items: center;
}

#banner img{
	filter: brightness(80%);
}

#banner h1{
	position:absolute;
	color:#ff0000;
	margin: 0px;
	font-size: 2.85em;
	/* Maiúsculo text-transform: uppercase; */
}
/*** Heading ***/

#heading{
	width: 80%;
	margin: 0 auto;
	padding: 35px;
	font-size: 1.65em;
}

/************ bloco *************/

#destaque{
	max-width: 1024px;
	height: 320px;
}

.blocos{
	width: 30.76%; /* ---- (325/1024)*100 ----*/
	height: 320px;
	float: left;
	margin-left: 1.8%; /*---- (20/1024)*100 ----*/
	border: 1px solid #000000;
	text-align: center;
	position: relative; /* posicionamento do botão */
	background-color: #ffffff;
}

.blocos p{
	padding: 0px 10px 0px 10px;
	text-align: center;
}

.blocos a{
	width: 80px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	right: 10px;
	bottom: 10px;

}


/******** Formulário de contato ********/
#contato{
	width: 70%;
	margin: 0 auto;
}

#contato input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius:5px;
	border: 1px solid: #ff0000;
	margin-bottom: 20px;
}

#contato textarea{
	width: 100%;
	padding: 10px 10px 80px 10px;
	border-radius:5px;
	border: 1px solid: #ff0000;
	margin-bottom: 20px;
	resize: none;
}

#contato input[type=submit]{
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid: #ffffff;
	padding: 10px 25px 10px 25px;
	color: #000000;
}

	/***** RODAPÉ *****/
	footer{
		width: 100%;
		background-color: #ff0000;
		margin-top: 50px;
		padding-top: 3px;
		padding-bottom: 3px;
		text-align: center;
		color: #ffffff;
		font-size: 0.75em;

	}

/***** Tratamento responsivo ********/


/***** 1° ponto de quebra ******/

@media screen and (max-width: 1058px){
	/****** principal ******/
		body{
		margin: 0px;
	}
		#main{ 
		margin-top: 0px;
	}
	#banner{
		margin-top: 10px;
	}
}

/***** 2° ponto de quebra ******/
@media screen and (max-width: 792px){
	#banner{
		margin-top: -20px;
		}
	#heading{
		margin-top: -60px;
	}

}

/***** 3° ponto de quebra ******/
@media screen and (max-width: 622px){
	#banner{
		margin-top: -20px;
	}
	#heading{
		margin-top: -80px;
	}

}

/***** 4° ponto de quebra ******/
@media screen and (max-width: 620px){
	#banner{
		margin-top: -45px;
		font-size: 0.550em;
	}
}






/**** menu mobile ****/

@media screen and (max-width: 480px){

	/*** cabeçalho ***/

	header{
 	text-align: center;
 	margin-bottom: 0px;
 	}
 #banner{
	margin-top: 110px;
	height: 0;

}

#banner h1{
	font-size: 3.5em;
	text-align: center;
}

#heading{
	width: 90%;
	padding:25px;
	margin-top: 60px;
}

#heading h2{
	font-size: 1.2em;
}

 	 header img {
 	margin-top: 0px;
 	margin-left: 0px;
 }
 iframe{
 	width: 400px;
 	height: 230px;
 }

	/* menu hamburguer */
	.Mobile{
		display: block;
		background-color: #ff0000;
		color: #FFF0F5;
		text-decoration: none;
		padding: 15px;
}
	nav > ul > li{
	float: none;
	width: 100%;
	}

	nav ul{
	width: 100%;
	display: none;
	}

    nav ul li a{
		font-size: 0.875em;
		padding: 12px;
		text-align: left;
	}         

	nav ul li a:hover{
		transition: all 0s; /* remover efeito de transição */

	}
	nav li ul li{
		background-color: #000000;
	}

	nav li  ul li a{
		background-color:#000000;
		padding-left: 40px;
	}

	/*** IMPORTANTE para UX no dispositivo mobile, não exibir o 2º nivel do menu enquanto o conteudo
	não for clicado **/
	nav li:hover ul{
		display: none; 
	}
	/**** blocos ****/
	#destaque{
		max-width: 315px;
		height: auto;
		margin: 0 auto;
	}

	.blocos{
		width: 100%;
		height: 320px;
		float: none;
		margin: 0;
		margin-bottom: 20px;
	}
}

	.heading2{
		font-size: 0.85em;
		text-align: center;
	}
	.heading3{
		font-size: 0.75em;

	}
	.heading4{
		font-size: 0.75em;
		text-align: center;
	}
	
