/**
* Estudo dos menus
* Exemplo 4 - Menu drop (Submenus)
* Data 01/10/2018
*/

body{
	font-family: sans-serif;
}

nav{
	width: 100%;
	height: 48px;
	color: #ffffff;
	background-color: #000616;
}
/*
.Primeiro{
	float: left;
	
}
*/
nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
/*Usando o sinal ">" o estilo é aplicado somente ao caminho indicado, não estilizando os demais <li> do segundo nível.*/
nav > ul > li{
	float: left;
}

nav ul li a{
	text-decoration: none;
	background-color: #000616;
	color: #FFFFFF;
	padding: 15px;
	display: block;
}

nav ul li a:hover{
	background-color: #00BCFF;
	transition: all 0.4s;
}

nav li ul{
	display: none;
}
nav ul li:hover ul{
	display: block;
}